.logo {
  font-size: 24px;
  font-weight: bold;
  width: 7%;
 
 
}

.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  background-color: white;
}
.top-heading{
  margin-left: 2%;
  font-size: 15px;
  font-weight: normal;

}

.tophead input[type=text] {
  margin-left: 20px;
  padding-left: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-color: whitesmoke;
  width:8%;
  height: 23px;
}
